<% include ./partials/header %>

<div class="container mt-4">
    <h1 class=text-center mb-3><%= post.subject %></h1>
    
    <div class="text-muted d-flex justify-content-between mb-2">
        <span><%= post.date %></span>
        <span><%= post.author.username %></span>
    </div>
    <pre><%= post.content %></pre>
    <div class="form-row">
        <form action="/" method="GET">
            <button class="btn btn-light btn-sm text-secondary">List</button>
        </form>
        <% if (currentUser && post.author.id.equals(currentUser._id)) { %>
            <form action="/posts/<%= post._id %>/edit/" method="GET">
                <button class="btn btn-light btn-sm text-secondary mr-1">Edit</button>
            </form>
            <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                <button class="btn btn-light btn-sm text-secondary">Delete</button>
            </form>
        <% } %>
    </div>

    <form action="/posts/<%= post._id %>/comment/<%= comment_to_edit._id %>?_method=PUT" method="POST">
        <div class="input-group mb-3 mt-3">
            <div class="input-group-prepend">
                <button class="input-group-text btn text-secondary" id="comment-button">Comment</button>
            </div>
            <textarea id="comment_edit" class="form-control" name="comment[text]" rows="1" placeholder="" aria-describedby="comment-button"><%= comment_to_edit.text %></textarea>
        </div>
    </form>
    
    <% post.comments.forEach(function(comment) { %>
        <div class="card border-light">
            <div class="card-body py-2">
                <span class="blocard-title font-weight-bold">
                    <%= comment.author.username %>
                </span>
                <p class="card-text mb-1">
                    <%= comment.text %>
                </p>
                <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                    <div class="form-row">
                        <form action="/posts/<%= post._id %>/comment/<%= comment._id %>/edit/" method="GET">
                            <button class="btn btn-light btn-sm text-secondary mr-1">Edit</button>
                        </form>
                        <form action="/posts/<%= post._id %>/comment/<%= comment._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-light btn-sm text-secondary">Delete</button>
                        </form>
                    </div>
                <% } %>
            </div>
        </div>
    <% }) %>
</div>

<script>
    document.getElementById('comment_edit').focus();
</script>

<% include ./partials/footer %>